
* {
  /* border: 1px solid red; */
}

body {
  background-color:  hsl(148, 38%, 91%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toast {
  background-color: rgb(52, 72, 52);
  margin:  auto;
  width: 300px;
  border-radius: 15px;
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  padding: 15px;
  color: #fff;
  display: grid;
  gap: 10px;
}

.toast h4, 
.toast h5 {
  margin: 0;
}

.toast h5 {
  font-size: 10px;
}

.icon-message {
  display: flex;
  gap: 5px;
  font-size: 15px;
}

.form-container {
  width: 500px;
  margin: 80px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  gap: 25px;
} 

.form-container h1 {
  font-size: 18px;
  margin: 0;
}

.form {
  display: grid;
  gap: 25px;
  font-size: 12px;
}

.form input {
  border-radius: 5px;
  height: 30px;
  border: 1px solid hsl(169, 82%, 27%);
  padding-left: 20px;
}

.form input:focus,
.message textarea:focus {
  outline: 1px solid hsl(169, 82%, 27%);
}

.form input:hover {
  cursor: pointer;
}

.form span {
  margin: 0;
}

.firstName-lastName,
.query-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.query-options div {
  border: 1px solid hsl(169, 82%, 27%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 14px;
}

.query-options input {
  appearance: none;
  height: 20px;
  border-radius: 50%;
  border: 1px solid hsl(150, 3%, 65%);
  background-color: transparent;
  transition: background-color 0.3s;
}

.query-options input:checked {
  background-color: hsl(169, 82%, 27%);
  border-color:  hsl(169, 82%, 27%);
  box-shadow: inset 0 0 0 4px hsl(0, 0%, 100%);
}

.message textarea {
  height: 100px;
  border-radius: 5px;
  border: 1px solid hsl(169, 82%, 27%);
  padding: 10px;
  resize: none;
}

.message textarea:hover {
  cursor: pointer;
}

.submit-button {
  background-color: hsl(169, 82%, 27%);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.checkbox {
 display: flex;
}

.checkbox p {
  padding-left: 10px;
  margin: 0;
}

.checkbox span {
  margin-left: 5px;
}

.checkbox div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.checkbox input {
  display: flex;
  appearance: none; 
  height: 20px;
  outline: none;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

.checkbox input:checked {
  background-color: hsl(169, 82%, 27%);
}

.checkbox input:checked::before {
  content: "✔";
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.green-background {
  background-color: hsl(148, 38%, 91%);
  outline: 1px solid hsl(169, 82%, 27%);
}

.green {
  color: hsl(169, 82%, 27%);;
}

.transparent {
  background-color: 'transparent';
}

.errors {
  color: red;
}
